<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles/index.css" defer />
		<!-- <link
			href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap"
			rel="stylesheet"
		/> -->
		<script src="/scripts/interacts.js" defer></script>

		<title>Tello</title>
	</head>
	<body>
		<script src="/scripts/jsmpeg.min.js"></script>

		<nav>
			<img src="/images/logo.svg" alt="DJI" id="logo" />
			<div id="circles">
				<img src="/images/Ellipse.svg" />
				<img src="/images/Circle.svg" alt="" />
			</div>
		</nav>

		<div id="center">
			<div id="vid">
				<div id="option-container">
					<div
						class="options"
						onclick="switcher(this)"
						id="0"
						data-other="1"
					>
						video
					</div>
					<div
						class="options"
						onclick="switcher(this)"
						id="1"
						data-other="0"
					>
						photo
					</div>
				</div>
				<canvas id="video-canvas"></canvas>
				<script>
					let canvas = document.getElementById("video-canvas");
					let url = "ws://localhost:3001/stream";
					let player = new JSMpeg.Player(url, { canvas: canvas });
					console.log(player);

					let relayWS = new WebSocket("ws://localhost:3003");

					relayWS.onopen = (event) => {
						setTimeout(() => {
							console.log(
								"relayWS connection established browser"
							);
							setInterval(() => {
								relayWS.send(canvas.toDataUrl().slice(22));
							}, 500);
						}, 100);
					};

					relayWS.addEventListener("error", (event) => {
						console.error("relayWS error:", event);
					});

					relayWS.addEventListener("message", (event) => {
						console.log(event);
					});
				</script>
				<svg
					src="/images/record.svg"
					onclick="capture(this)"
					id="record"
					alt=""
					width="70"
					height="70"
					viewBox="0 0 70 70"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<circle
						cx="35"
						cy="35"
						r="30.5"
						stroke="#e1e1e1c7"
						stroke-width="9"
					/>
					<circle id="inner" cx="35" cy="35" r="19" fill="#F7DF1E" />
				</svg>
			</div>
			<div id="vitals">
				<div id="zero">
					<div>
						<span class="category">Speed</span
						><span class="desc" id="speed">0</span>
					</div>
					<div>
						<span class="category">height</span
						><span class="desc" id="h">0</span>
					</div>
					<div>
						<span class="category">acceleration</span
						><span class="desc" id="acceleration">0 m/s</span>
					</div>
					<div>
						<span class="category">attitude</span
						><span class="desc" id="pitch">0</span>
					</div>
				</div>

				<div id="one">
					<div>
						<span class="category">temp</span
						><span class="desc" id="temph">0 C</span>
					</div>
					<div>
						<span class="category">baro</span
						><span class="desc" id="baro">0</span>
					</div>
					<div id="battery">
						<span class="category">battery</span
						><span class="desc" id="bat">0</span>
					</div>
					<div>
						<span class="category">time</span
						><span class="desc" id="time">0</span>
					</div>
				</div>

				<div id="two">
					<div>
						<span class="category">Distance</span
						><span class="desc" id="tof">0</span>
					</div>
				</div>
			</div>
			<div id="controls">
				<div id="WASD">
					<kbd>W</kbd>
					<kbd>A</kbd>
					<kbd>S</kbd>
					<kbd>D</kbd>
				</div>
				<div id="panel">
					<div id="emergancy-btn" onclick="button(this)">
						<h3>Emergancy Landing</h3>
					</div>
					<div class="control-btns" id="fly" onclick="button(this)">
						<img src="/images/fly.svg" alt="takeoff" />
					</div>
					<div class="control-btns" id="land" onclick="button(this)">
						<img src="/images/land.svg" alt="land" />
					</div>
				</div>
				<div id="IJKL">
					<kbd>I</kbd>
					<kbd>J</kbd>
					<kbd>K</kbd>
					<kbd>L</kbd>
				</div>
			</div>
			<div id="map"></div>
		</div>
	</body>
</html>
